/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url(https://db.onlinewebfonts.com/c/0699467ea5640c866788e1cc9af38ea8?family=Circe+Web);
@import url(https://db.onlinewebfonts.com/c/3744af01c95658733f126804487fbf70?family=Circe+Web+Light);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Circe Web";
    color: #1A1A1A;
    display: flex;
    flex-direction: column;

    p {
        font-family: "Circe Web Light";
    }

    header {
        nav {
            box-sizing: border-box;
            position: fixed;
            width: 100vw;
            background: white url(../images/spotify-logo.png) no-repeat;
            background-size: 15% 70%;
            background-position-y: center;
            background-position-x: 2rem;
    
            ul {
                margin: 0;
                padding: 2rem 5rem;
                list-style: none;
                display: flex;
                justify-content: flex-end;
                align-self: center;
                font-size: 25px;
                gap: 30px;
            }
        }
    }

    section.crowd {
        background: url(../images/landing.jpg);
        background-size: 100% 100%;
        width: 100vw;
        height: 50rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 6rem;
        flex-direction: column;
        color: #fff;
        padding-bottom: 9%;

        h1 {
            font-size: 5rem;
        }

        p {
            font-size: 2rem;
            text-align: center;
            padding: 0 25%;

        }
    }

    section.list {
        text-align: center;
        display: flex;
        justify-content: space-evenly;

        img {
            width: 8rem;
        }

        div#block {
            flex-basis: 33%;
            padding-top: 13rem;
            padding-bottom: 3rem;
            font-size: 1.5rem;
        }

        h2 {
            position: absolute;
            font-size: 3rem;
            padding: 3rem 0 0;
            border-bottom: 7px solid #00B172;
        }

        
        h3 {
            color: #00B172;
            font-size: 2rem;
        }
    }

    

    

    
}