/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url(https://db.onlinewebfonts.com/c/0699467ea5640c866788e1cc9af38ea8?family=Circe+Web);
@import url(https://db.onlinewebfonts.com/c/3744af01c95658733f126804487fbf70?family=Circe+Web+Light);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Circe Web";
    color: #1A1A1A;
    display: flex;
    flex-direction: column;

    p {
        font-family: "Circe Web Light";
    }

    header {
        nav {
            box-sizing: border-box;
            position: fixed;
            width: 100vw;
            background: white url(../images/spotify-logo.png) no-repeat;
            background-size: 15% 70%;
            background-position-y: center;
            background-position-x: 2rem;

            ul {
                margin: 0;
                padding: 2rem 5rem;
                list-style: none;
                display: flex;
                justify-content: flex-end;
                align-self: center;
                font-size: 25px;
                gap: 30px;

                a {
                    color: #1A1A1A;
                    text-decoration: none;
                }
            }
        }
    }

    section.crowd {
        background: url(../images/landing.jpg);
        background-size: 100% 100%;
        width: 100vw;
        height: 50rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        flex-direction: column;
        color: #fff;
        padding-bottom: 5rem;

        h1 {
            font-size: 6rem;
        }

        p {
            font-size: 2rem;
            text-align: center;
            padding: 0 23rem;

        }
    }

    section.list {

        div {
            display: flex;
            justify-content: space-evenly;
            
            div#block {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-basis: 33%;
                padding: 8rem 5rem 7rem;
                font-size: 2rem;
            }
            
        }
        

        img {
            width: 8rem;
        }

        

        h2 {
            margin: 0 auto;
            font-size: 3rem;
            padding: 4rem 0 0;
            border-bottom: 7px solid #00B172;
            width: fit-content;
        }


        h3 {
            color: #00B172;
            font-size: 2.5rem;
        }
    }

    section.kanye {
        background: #00B172 url(../images/spotify-icon-white.png) no-repeat;
        background-position: center;
        background-size: 12rem;
        color: #fff;
        padding: 3rem 5rem;
        border-left: 2rem solid #fff;
        border-right: 2rem solid #fff;

        h2 {
            font-size: 3rem;
            border-bottom: 7px solid #fff;
            width: fit-content;
        }

        ul {
            width: 33%;
            padding-top: 3rem;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 3rem;

            li {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.7rem;
            }
        }

        aside {
            float: right;

            img {
                height: 45rem;
            }
        }






    }
}