/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url(https://db.onlinewebfonts.com/c/0699467ea5640c866788e1cc9af38ea8?family=Circe+Web);
mport url(https://db.onlinewebfonts.com/c/473366d6efa789713f64f858d8e3cc2c?family=Erbar+W01+Medium);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Circe Web";
    min-height: 100vh;
    color: #1A1A1A;

    nav {
        position: fixed;
        width: 100%;
        height: 10%;
        background-image: url(../images/spotify-logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0.5rem 2rem;

        ul {
            margin: 0;
            padding: 2rem 5rem;
            list-style: none;
            display: flex;
            justify-content: flex-end;
            align-self: center;
            font-size: 25px;
            gap: 30px;
        }
    }

    section.crowd {
        position: absolute;
        background-image: url(../images/landing.jpg);
        margin-top: 8rem;
        height: 40%;
        color: white;
       
            h1 {
                display: flex;
                justify-content: center;
            }

            p 

    }